@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* BRAND COLORS */
  --ira-primary: #362A82;   
  --ira-secondary: #ffffff; 
  --ira-accent: #BA934B;    
  --ira-text-dark: #212529;

  /* BLOG SPECIFIC COLORS */
  --blog-bg: #fde8e4;
  --blog-accent: #4a3e8e;
  --dark-blue: #1a2b49;
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* BRAND UTILITIES */
  --color-primary: var(--ira-primary);
  --color-secondary: var(--ira-secondary);
  --color-accent: var(--ira-accent);
  --color-nav-text: var(--ira-text-dark);

  /* BLOG UTILITIES */
  --color-blog-bg: var(--blog-bg);
  --color-blog-accent: var(--blog-accent);
  --color-dark-blue: var(--dark-blue);

  /* ✅ LINK THE NEXT.JS VARIABLE TO TAILWIND */
  --font-heading: var(--font-coachella);
  --font-sans: var(--font-poppins);

  /* BREAKPOINTS */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 2560px;
}

/* ✅ GLOBAL TAG STYLES */
/* This makes all h1-h3 tags use Coachella automatically */
h1, h2, h3, h4 {
  font-family: var(--font-heading);
   
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply antialiased;
}